<!doctype html>
<html lang="ko" class="h-100" data-bs-theme="auto">

<head>
    <meta charset="utf-8">
    <title>Nonogram Puzzle Generator</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        main>.container {
            padding: 60px 15px 0;
        }
    </style>
</head>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    선택하기
</button>

<!-- Modal -->
<div class="modal fade" id="modal-confirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">선택한 이미지 확인</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                %% 필터를 적용한 이미지를 선택하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button id="button-submit" type="button" class="btn btn-primary">적용하기</button>
            </div>
        </div>
    </div>
</div>

<body class="d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">YesGram</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/generate/select">Generate Puzzle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/list">Puzzle List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/import">Import Puzzle</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="mt-5">
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-12 mx-auto">
                    <h1 class="fw-light">이미지 파일로 퍼즐 생성하기</h1>
                    <h2 class="mt-5 fw-light text-body-secondary">Step 3. 퍼즐 선택하기</h2>
                </div>
            </div>

            <div class="mt-5 text-start d-flex align-items-center">
                <p class="d-inline m-0 lead flex-shrink-0 me-3">퍼즐 이름 : </p>
                <input id="input-title" type="text" class="d-inline form-control" id="puzzle-name">
            </div>
        </section>

        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div id="card-image" class="col">
                        <div class="card shadow-sm h-100">
                            <canvas id="output-puzzle" class="card-img-top"></canvas>
                            <div class="card-body">
                                <h5 class="card-title">적용 방법</h5>
                                <p class="card-text">전처리 방법들에 대한 간략 내용</p>
                                <div class="d-flex justify-content-center align-items-center">
                                    <button id="button-select" type="button" class="btn btn-primary"
                                        data-bs-toggle="modal" data-bs-target="#modal-confirm">
                                        선택하기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>


    <footer class="footer mt-auto py-3 bg-body-tertiary">
        <div class="container">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
                <div class="col mb-3">
                    <p class="text-body-secondary">Team Yesgram, <br>Konkuk University</p>
                    <p class="text-body-secondary">Graduation Project, 2023</p>
                </div>
                <div class="col mb-3">
                    <h5>Team Members</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="https://github.com/3daysJin"
                                class="nav-link p-0 text-body-secondary">Lee
                                SeungJin(@3daysJin)</a></li>
                        <li class="nav-item mb-2"><a href="https://github.com/delena0702"
                                class="nav-link p-0 text-body-secondary">Lee SeungYeop(@delena0702)</a></li>
                        <li class="nav-item mb-2"><a href="https://github.com/XsQuare01"
                                class="nav-link p-0 text-body-secondary">Mun ByoungHwa(@XsQuare01)</a></li>
                    </ul>
                </div>
                <div class="col mb-3">
                    <h5>Open Source</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="https://opencv.org/"
                                class="nav-link p-0 text-body-secondary">OpenCV</a>
                        </li>
                        <li class="nav-item mb-2"><a href="https://getbootstrap.com/"
                                class="nav-link p-0 text-body-secondary">Bootstrap</a></li>
                    </ul>
                </div>
                <div class="col mb-3">
                    <h5>Github Link</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="https://github.com/3daysJin/YesGram_demo"
                                class="nav-link p-0 text-body-secondary">Team Github</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    {% autoescape off %}
    <script>
        var image_data = {{ image_data }}
        var large_width = {{ large_width }}
        var small_width = {{ small_width }}
        var large_height = {{ large_height }}
        var small_height = {{ small_height }}
    </script>
    {% endautoescape %}

    <script src="/static/js/main.js"></script>
    <script src="/static/js/generate_image2.js"></script>
</body>

</html>