<!doctype html>
<html lang="ko" class="h-100" data-bs-theme="auto">

<head>
    <meta charset="utf-8">
    <title>Nonogram Puzzle Generator</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        main>.container {
            padding: 60px 15px 0;
        }
    </style>
</head>

<body class="d-flex flex-column h-100">

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">YesGram</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/generate/select">Generate Puzzle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/list">Puzzle List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/import">Import Puzzle</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="mt-5">
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">퍼즐 목록</h1>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <div id="list-column" class="col">
                        <div style="cursor: pointer;">
                            <div class="card shadow-sm">
                                <canvas class="card-img-top border" alt="..."></canvas>
                                <div class="card-body">
                                    <h5 class="card-title">사용자가 지정한 그림 제목</h5>
                                    <p class="card-text">퍼즐의 정보를 담고 있는 텍스트</p>
                                    <div class="row">
                                        <div class="col-12 col-lg-8 btn-group">
                                            <a type="button" class="btn btn-sm btn-outline-secondary my-auto">내보내기</a>
                                            <a type="button" class="btn btn-sm btn-outline-secondary my-auto">수정</a>
                                            <a type="button" class="btn btn-sm btn-outline-secondary my-auto">삭제</a>
                                        </div>

                                        <div class="col-12 col-lg-4 mt-2">
                                            <span class="lead fs-6 my-0">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-highlights" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0Zm-8 5v1H4.5a.502.502 0 0 0-.093.009A7.029 7.029 0 0 1 3.1 13H8Zm0-1H2.255a6.998 6.998 0 0 1-.581-1H8v1Zm-6.71-2a6.96 6.96 0 0 1-.22-1H8v1H1.29ZM1 8c0-.34.024-.673.07-1H8v1H1Zm.29-2c.103-.345.231-.68.384-1H8v1H1.29Zm.965-2c.25-.36.534-.694.846-1H8v1H2.255Zm2.137-2A6.967 6.967 0 0 1 8 1v1H4.392Z"/>
                                                </svg>
                                                &nbsp;
                                            </span>
                                            <div class="d-inline-block form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" checked>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </main>

    <footer class="footer mt-auto py-3 bg-body-tertiary">
        <div class="container">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
                <div class="col mb-3">
                    <p class="text-body-secondary">Team Yesgram, <br>Konkuk University</p>
                    <p class="text-body-secondary">Graduation Project, 2023</p>
                </div>
                <div class="col mb-3">
                    <h5>Team Members</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="https://github.com/3daysJin"
                                class="nav-link p-0 text-body-secondary">Lee
                                SeungJin(@3daysJin)</a></li>
                        <li class="nav-item mb-2"><a href="https://github.com/delena0702"
                                class="nav-link p-0 text-body-secondary">Lee SeungYeop(@delena0702)</a></li>
                        <li class="nav-item mb-2"><a href="https://github.com/XsQuare01"
                                class="nav-link p-0 text-body-secondary">Mun ByoungHwa(@XsQuare01)</a></li>
                    </ul>
                </div>
                <div class="col mb-3">
                    <h5>Open Source</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="https://opencv.org/"
                                class="nav-link p-0 text-body-secondary">OpenCV</a>
                        </li>
                        <li class="nav-item mb-2"><a href="https://getbootstrap.com/"
                                class="nav-link p-0 text-body-secondary">Bootstrap</a></li>
                    </ul>
                </div>
                <div class="col mb-3">
                    <h5>Github Link</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="https://github.com/3daysJin/YesGram_demo"
                                class="nav-link p-0 text-body-secondary">Team Github</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/list.js"></script>
</body>

</html>